.cards {
    height: 100%;
    position: relative;

    &__item {
        margin-bottom: 20px;
    }

    &__button {
        width: 100%;
        border: 1px solid $black;
        background-color: $delta;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    &__noinfo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        padding: 40px;
        background-color: $dodger-blue;
        color: $white;
        font-weight: 700;
    }
}